DATABASE_URL="postgresql://user:password@localhost:5432/rbac_dev"
DATABASE_URL_TEST="postgresql://user:password@localhost:5432/rbac_test"

# Generate with: openssl rand -hex 64
JWT_ACCESS_SECRET="change_me_at_least_32_characters_long_access"
JWT_REFRESH_SECRET="change_me_at_least_32_characters_long_refresh"

PORT=3000
NODE_ENV=development
